<%- include('partials/header') %>
<%- include('partials/sidebar') %>
<%- include('partials/banner', {
    title : 'Contact Us',
})  %>
<section>
    <div class="cs-contact-page-content">
      <div class="container-fluid">
        <div class="row cs_center">
          <div class="col-xl-5">
            <div class="cs-contact-in">
              <h2>Get In Touch</h2>
              <p class="cs-contact-text">get in touch with us , visit our offices or call us directly</p>
              <div class="cs-logi-office-wrap">
                <div class="cs-logi-cor-office cs-default-office">
                  <div class="cs-footer-widget-title">
                    <h6>Corporate Office</h6>
                  </div>
                  <p class="cs-max-width-200 cs-color-body">
                    305 Empowerment Way,
                    Willowvale, 
                    Harare, Zimbabwe
                  </p>
                  <div class="cs-logi-emai-phone">
                    <a href="#" class="cs-text-style-h6">+263 778 697 197</a>
                    <a href="#" class="cs-text-style-h6">+263 717 902 690</a>
                    <a href="#" class="cs-text-style-h6">hardwarehyperplc@gmail.com</a>
                  </div>
                </div>
                <div class="cs-border-v-line"></div>
                <div class="cs-logi-cor-office cs-default-office">
                  
                  <div class="cs-logi-emai-phone">
                    <a href="#" class="cs-text-style-h6">+263 776 139 602</a>
                    <a href="#" class="cs-text-style-h6">+263 719 639 602</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="cs-contact-page-form-wrap">
              <div class="cs-form-cp-in">
                <form>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Your Name" required>
                  </div>
                  <div class="mb-3">
                    <input type="email" class="form-control" placeholder="your email" required>
                  </div>
                  <div class="mb-3">
                    <input type="tel" class="form-control" id="phone" placeholder="phone number with code" required>
                  </div>
                  <div class="mb-3">
                    <textarea class="form-control" id="message" rows="4" placeholder="Your Message" required></textarea>
                  </div>

                  <button type="submit" class="cs-primary-btn">Submit<i class="flaticon-right-arrow"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="cs-client-brand-wrapper style-full-1raw">
      <div class="cs-client-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Personal
                    Protctive
                    Equipment</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Building 
                    materials</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Electricals</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Agro-Implements 
                   
                    Chemicals</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Electricals</a></h6>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
              <div class="cs-client-card">
                <h6><a href="#">Chemicals</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>