<section>
    <div class="cs-about-wrapper-1">
        <div class="cs-about-wrap-in">
            <div class="container-fluid">
                <div class="row cs_center">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="cs-about-img-area">
                            <div class="cs-about-img reveal-img-wrap horizontal">
                                <div class="reveal-img-inner">
                                    <img src="/assets/img/about-img-style-1.png" alt="LogiHub">
                                </div>
                            </div>
                            <div class="cs-about-img-over-content anim_div_ShowRightSide"
                                data-src="/assets/img/experience-bg.svg">
                                <div class="cs-flex">
                                    <h2 id="count5" class="amin_auto_count">18
                                    </h2>
                                    <span class="cs-text-style-h2 cs-color-white">+</span>
                                </div>
                                <p>Years Of <br> Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="cs-about-content-wrap">
                            <div class="cs-about-content-in">
                                <div class="cs-about-title">
                                    <h2 class="logi-splite">Drive Your Business Forward with LogiHub</h2>
                                </div>
                                <div class="cs-about-para">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece of
                                        classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                </div>
                                <div class="cs-about-list-wrap">
                                    <ul>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Freight Forwarding
                                        </li>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Warehousing & Delivery
                                        </li>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Customs Clearance
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Warehousing & Delivery
                                        </li>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Customs Clearance
                                        </li>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Freight Forwarding
                                        </li>
                                    </ul>
                                </div>
                                <div class="cs-primary-btn-wrap">
                                    <div class="cs-primary-btn">
                                        <a href="about.html" class="cs-primary-btn-in"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>