<section>
    <div class="cs-about-wrapper-1">
        <div class="cs-about-wrap-in">
            <div class="container-fluid">
                <div class="row cs_center">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="cs-about-img-area">
                            <div class="cs-about-img reveal-img-wrap horizontal">
                                <div class="reveal-img-inner">
                                    <img src="/assets/img/about-img-style-1.png" alt="LogiHub">
                                </div>
                            </div>
                            <div class="cs-about-img-over-content anim_div_ShowRightSide"
                                data-src="/assets/img/experience-bg.svg">
                                <div class="cs-flex">
                                    <h2 id="count5" class="amin_auto_count">18
                                    </h2>
                                    <span class="cs-text-style-h2 cs-color-white">+</span>
                                </div>
                                <p>Years Of <br> Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="cs-about-content-wrap">
                            <div class="cs-about-content-in">
                                <div class="cs-about-title">
                                    <h2 class="logi-splite">Hardware Hyper</h2>
                                </div>
                                <div class="cs-about-para">
                                    <p>BIG
                                        &
                                        small
                                        we got you covered</p>
                                        <span>
                                            Hardware Hyper is a multifaceted company in the business of procurement, 
supplying and fixing premium range of products with an ultimate objective of 
achieving practicable quality service for sustainable customer satisfaction.
                                        </span>
                                </div>
                                <div class="cs-about-list-wrap">
                                    <ul>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Personal
                                            Protective
                                            Equipment
                                        </li>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Building 
                                            materials
                                        </li>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Electricals
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                            Agro-Implements
                                        </li>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                           Chemicals
                                        </li>
                                        <li>
                                            <i class="flaticon-verified"></i>
                                           Auto spares
                                        </li>
                                    </ul>
                                </div>
                                <div class="cs-primary-btn-wrap">
                                    <div class="cs-primary-btn">
                                        <a href="#" class="cs-primary-btn-in"><span>Read More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>