<section>
  <div class="cs-braidcrumb-wrap img-scroll-object-zoom" data-src="/assets/img/logi-breadcrumb-main1.jpg">
    <div class="container">
      <div class="row cs_center">
        <div class="cs-bread-page-title-area">
          <div class="cs-page-title-in">
            <div class="cs-bread-cap">
              <svg width="33" height="19" viewBox="0 0 33 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4589_11874)">
                  <path d="M0.931641 18.682L15.7481 9.72777L0.931641 0.773499V18.682Z" fill="#F15A28" />
                  <path opacity="0.4" d="M0.931641 9.72777H15.7481L0.931641 0.773499V9.72777Z" fill="white" />
                  <path d="M17.25 18.6821L32.0664 9.72783L17.25 0.77356V18.6821Z" fill="#F15A28" />
                  <path opacity="0.4" d="M17.25 9.72783H32.0664L17.25 0.77356V9.72783Z" fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_4589_11874">
                    <rect width="31.1351" height="18" fill="white" transform="translate(0.931641 0.727783)" />
                  </clipPath>
                </defs>
              </svg>
              <span>Home</span>
            </div>
            <div class="cs-page-title">
              <h2 class="cs_white_color"><%= title %></h2>
            </div>
          </div>
        </div>
        <div class="breadcrumb">
          <ul class="cs_mp0">
            <li>
              <a href="/" class="cs-text_b_line"><span>Home</span></a>
            </li>
            <li>.</li>
            <li><%= title %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>