<section>
    <div class="cs-expertise-wrap expert-area-style-1">
        <div class="container-fluid">
            <div class="row">
                <div class="cs-expert-area-content">
                    <div class="cs-expert-area-item">
                        <div class="cs-exp-icon-title">
                            <div class="cs-exp-icon svg-left-to-right-animation-wrap">
                                <span class="svg-left-to-right-animation">
                                    <i class="bi bi-gear-wide"></i>
                                    <i class="bi bi-gear-wide"></i>
                                </span>
                            </div>
                            <div class="cs-exp-title">
                                <h5>Auto Spares</h5>
                            </div>
                        </div>
                        <div class="cs-exp-text">
                            <p>Not just any auto parts
                                We are a class apart
                                and help you get genuine
                                auto spares you need.</p>
                        </div>
                    </div>
                    <div class="cs-expert-line"></div>
                    <div class="cs-expert-area-item">
                        <div class="cs-exp-icon-title">
                            <div class="cs-exp-icon svg-left-to-right-animation-wrap">
                                <span class="svg-left-to-right-animation">
                                    <i class="bi bi-brightness-high"></i>
                                    <i class="bi bi-brightness-high"></i>
                                </span>
                            </div>
                            <div class="cs-exp-title">
                                <h5>Solar Products</h5>
                            </div>
                        </div>
                        <div class="cs-exp-text">
                            <p>Solar Lighting,
                                Solar Gysers,
                                Solar panels,
                                Solar Batteries
                                &
                                Acccessories</p>
                        </div>
                    </div>
                    <div class="cs-expert-line"></div>
                    <div class="cs-expert-area-item">
                        <div class="cs-exp-icon-title">
                            <div class="cs-exp-icon svg-left-to-right-animation-wrap">
                                <span class="svg-left-to-right-animation">
                                    <i class="bi bi-stars"></i>
                                    <i class="bi bi-stars"></i>
                                </span>
                            </div>
                            <div class="cs-exp-title">
                                <h5>Cleaning & Disinfecting
                                    Consumables</h5>
                            </div>
                        </div>
                        <div class="cs-exp-text">
                            <p>Disinfecting liquids
                                Multipurposes cleaners
                                Detergents, dishwashing liquids
                                Washing powders, sanitizers
                                Floor polishing waxes
                                Emulsion creams and applicators
                                Brushware, carpet cleaning chemicals
                                Floor scrubbing chemicals
                                Bins and disposable polythene bags</p>
                        </div>
                    </div>
                    <div class="cs-expert-area-item">
                        <div class="cs-exp-icon-title">
                            <div class="cs-exp-icon svg-left-to-right-animation-wrap">
                                <span class="svg-left-to-right-animation">
                                    <i class="bi bi-columns"></i>
                                    <i class="bi bi-columns"></i>
                                </span>
                            </div>
                            <div class="cs-exp-title">
                                <h5>Ceiling & Tiles</h5>
                            </div>
                        </div>
                        <div class="cs-exp-text">
                            <p>Ceiling Boards,
                                Drywall Screws,
                                Centre Pieces,
                                Cornice,
                                PVC ceilings,
                                Suspended Gypsum,
                                SPC Flooring,
                                Wall decoration profiles
                                and many more.....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>