<footer>
  <div class="cs-logi-footer-container">
    <div class="cs-logi-footer-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="cs-logi-cor-office cs-footer-widget">
              <div class="cs-footer-widget-title">
                <h6>Corporate Office</h6>
              </div>
              <p class="cs-max-width-200">
                305 Empowerment Way,
Willowvale, 
Harare, Zimbabwe
              </p>
              <div class="cs-logi-emai-phone">
                <a href="#" class="cs-text-style-h6">+263 778 697 197 / 717 902 690</a>
                <a href="#" class="cs-text-style-h6">hardwarehyperplc@gmail.com</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            
          </div>
          <div class="col-lg-2 col-md-5">
            <div class="cs-footer-widget">
              <div class="cs-footer-widget-title">
                <h6>Useful Link</h6>
              </div>
              <div class="cs-logi-footer-useful-link">
                <ul>
                    <li><a href="/about" class="cs-text_b_line"><span>About Us</span></a></li>
                    <li><a href="/contact" class="cs-text_b_line"><span>Contact Us</span></a></li>
                    <li> <a href="/services" class="cs-text_b_line"><span>Services</span></a></li>
                    <li><a href="/contact" class="cs-text_b_line"><span>Free Quote</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-7">
            <div class="cs-footer-widget">
              <div>
                <div class="cs-footer-widget-title">
                  <h6>Newsletter</h6>
                </div>
                <p>The best solutions</p>
              </div>
              <form class="cs-logi-newsletter" >
                <input class="cs-newsletter-email" type="email"  placeholder="Enter Your Email Address" required />
                <button class="cs-newsletter-btn cs_center svg-left-to-right-animation-wrap" type="submit">
                  Subscribe
                  <span class="svg-left-to-right-animation">
                    <i class="flaticon-right-arrow"></i>
                    <i class="flaticon-right-arrow"></i>
                  </span>
                </button>
              </form>
              <div class="cs-social-common">
                <ul>
                  <li>
                    <a href="#">
                      <i class="flaticon-facebook-app-symbol"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="flaticon-linkedin-big-logo"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="flaticon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="flaticon-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="cs-logi-copy-area">
        <div class="cs-footer-copy-branding">
          <div class="cs-footer-copy-branding">
            <a href="#">
              <img src="/assets/img/logo_white_text.png" alt="LogiHub" />
            </a>
            <span>No adjustment, only convenience!</span>
          </div>
        </div>
        <div class="cs-footer-copy-text">
          <p>©  <%= (new Date()).getFullYear() %> <a href="#">HardwareHyper .</a> All Rights Reserved.</p>
        </div>
      </div>
    </div>
    <div class="cs-logi-footer-border">
      <svg width="1920" height="186" viewBox="0 0 1920 186" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.2"
          d="M1919.95 15.0784C1789.84 47.7321 1593.01 73.75 1313.98 21.8595C940.467 -47.6007 736.04 72.8343 688.434 185.993M0.135498 174.227C71.8468 137.994 149.172 106.307 231.119 82.6053C550.484 -9.76492 1181.35 52.3115 1168.87 185.973"
          stroke="white" />
      </svg>
    </div>
  </div>
</footer>