<section>
    <div class="cs-service-sec-wrapper cs-ser-style-1">

      <div class="cs-height-120"></div>

      <div class="container">
        <div class="row">
          <div class="cs-section-title-left-right sec-title-style-1">
            <div class="cs-title-left-area">
              <div class="cs-sec-caption">
                <div class="cs-cap-icon">
                  <svg width="32" height="19" viewBox="0 0 32 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_4589_150)">
                      <path d="M0.467773 18.6986L15.2842 9.74431L0.467773 0.790039V18.6986Z" fill="#D40511" />
                      <path opacity="0.4" d="M0.467773 9.74431H15.2842L0.467773 0.790039V9.74431Z" fill="white" />
                      <path d="M16.7865 18.6986L31.6029 9.74431L16.7865 0.790039V18.6986Z" fill="#D40511" />
                      <path opacity="0.4" d="M16.7865 9.74431H31.6029L16.7865 0.790039V9.74431Z" fill="white" />
                    </g>
                    <defs>
                      <clipPath >
                        <rect width="31.1351" height="18" fill="white" transform="translate(0.467773 0.744141)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="cs-cap-text">
                  <p class="cs_white_color">Our Services</p>
                </div>
              </div>
              <div class="cs-sec-title cs-max-w-640">
                <h2 class="logi-splite">What We Offer</h2>
              </div>
            </div>
            <div class="cs-title-right-area">
              <div class="cs-primary-btn">
                <a href="#">Read More
                  <i class="flaticon-right-arrow"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="cs-sec-title-height"></div>

          <div class="cs-service-list-wrap">
            <div class="cs-service-item">
              <div class="ser-icon-title">
                <div class="cs-ser-icons">
                    <i class="bi bi-plus-square"></i>
                  <svg width="59" height="70" viewBox="0 0 59 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.929443 69.8221L58.5489 34.9999L0.929443 0.177734V69.8221Z" fill="#D40511" />
                    <path opacity="0.4" d="M0.929443 34.9999H58.5489L0.929443 0.177734V34.9999Z" fill="white" />
                  </svg>
                </div>
                <div class="cs-ser-title">
                  <h4>Personal
                    Protctive
                    Equipment</h4>
                </div>
              </div>
              <div class="cs-ser-para">
                <p>Protective 
                    Clothing
                    Mining & 
                    Industrial PPE
                    Reflectors
                    Medical
                    Consumables</p>
              </div>
              <div class="cs-ser-btn">
                <a href="#"><i class="flaticon-arrow"></i></a>
              </div>
            </div>
            <div class="cs-ser-border mb-50"></div>
            <div class="cs-service-item">
              <div class="ser-icon-title">
                <div class="cs-ser-icons">
                    <i class="bi bi-house"></i>
                  <svg width="59" height="70" viewBox="0 0 59 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.929443 69.8221L58.5489 34.9999L0.929443 0.177734V69.8221Z" fill="#D40511" />
                    <path opacity="0.4" d="M0.929443 34.9999H58.5489L0.929443 0.177734V34.9999Z" fill="white" />
                  </svg>
                </div>
                <div class="cs-ser-title">
                  <h4>Building 
                    materials</h4>
                </div>
              </div>
              <div class="cs-ser-para">
                <p>Cement
                    Plumbecare
                    Home 
                    Improvements
                    Reinforcements
                    Interior & 
                    Exterior 
                    Accessories</p>
              </div>
              <div class="cs-ser-btn">
                <a href="#"><i class="flaticon-arrow"></i></a>
              </div>
            </div>
            <div class="cs-ser-border mb-50"></div>
            <div class="cs-service-item">
              <div class="ser-icon-title">
                <div class="cs-ser-icons">
                    <i class="bi bi-plug"></i>
                  <svg width="59" height="70" viewBox="0 0 59 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.929443 69.8221L58.5489 34.9999L0.929443 0.177734V69.8221Z" fill="#D40511" />
                    <path opacity="0.4" d="M0.929443 34.9999H58.5489L0.929443 0.177734V34.9999Z" fill="white" />
                  </svg>
                </div>
                <div class="cs-ser-title">
                  <h4>Electricals</h4>
                </div>
              </div>
              <div class="cs-ser-para">
                <p>LED Lightings
                    Conduits
                    Industrial & 
                    Domestic</p>
              </div>
              <div class="cs-ser-btn">
                <a href="#"><i class="flaticon-arrow"></i></a>
              </div>
            </div>
            <div class="cs-ser-border mb-50"></div>
            <div class="cs-service-item">
              <div class="ser-icon-title">
                <div class="cs-ser-icons">
                    <i class="bi bi-capsule"></i>
                  <svg width="59" height="70" viewBox="0 0 59 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.929443 69.8221L58.5489 34.9999L0.929443 0.177734V69.8221Z" fill="#D40511" />
                    <path opacity="0.4" d="M0.929443 34.9999H58.5489L0.929443 0.177734V34.9999Z" fill="white" />
                  </svg>
                </div>
                <div class="cs-ser-title">
                  <h4>Agro-Implements 
                    &
                    Chemicals</h4>
                </div>
              </div>
              <div class="cs-ser-para">
                <p>Industrial 
                    Chemicals
                    Implements
                    Herbcides
                    Gardening</p>
              </div>
              <div class="cs-ser-btn">
                <a href="#"><i class="flaticon-arrow"></i></a>
              </div>
            </div>
            <div class="cs-ser-border"></div>
          </div>
        </div>
      </div>
      <div class="cs-height-120"></div>
    </div>
  </section>