<div class="cs_side_header">
    <button class="cs_close"></button>
    <div class="cs_side_header_overlay"></div>
    <div class="cs_side_header_in">
        <div class="cs-sidebar-about-brand">
            <a class="cs_site_branding" href="index-2.html">
                <img src="assets/img/logo_black_text.png" alt="Logo" />
            </a>

        </div>
        <div class="cs-sidebar-middle-area">
            <p>187 Samora Machel Ave , Eastlea ,Harare</p>
            <div class="cs-sidebar-emai-phone">
                <a href="#" class="cs-text-style-h6">+263 719 401 405</a>
                <a href="#" class="cs-text-style-h6">hardwarehyperplc@gmail.com</a>
            </div>
            <div class="cs-common-icon-style cs-sidebar-social">
                <ul>
                    <li>
                        <a href="#">
                            <i class="flaticon-facebook-app-symbol"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="flaticon-linkedin-big-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="flaticon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="flaticon-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cs-sidebar-bottom-area">
            <form class="cs-logi-newsletter">
                <input class="cs-newsletter-email" type="email" placeholder="Enter Your Email Address" required />
                <button class="cs-newsletter-btn svg-left-to-right-animation-wrap" type="submit">
                    Subscribe
                    <span class="svg-left-to-right-animation">
                        <i class="flaticon-right-arrow"></i>
                        <i class="flaticon-right-arrow"></i>
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>