<section>
    <div class="cs-hero-slider-wrap cs-hero-home-1">
        <div class="cs-hero-slider-content-wrap">
            <div class="cs-hero-slider-instrument">
                <div class="cs-hero-slider-controller">
                    <div class="slider-controler-item" data-slide="0">
                        <h6>01</h6>
                        <p>Solar Products</p>
                    </div>
                    <div class="slider-controler-item" data-slide="1">
                        <h6>02</h6>
                        <p>Auto Spares</p>
                    </div>
                    <div class="slider-controler-item" data-slide="2">
                        <h6>03</h6>
                        <p>Cleaning & Disinfecting
                            Consumables</p>
                    </div>
                </div>
                <div class="cs-hero-slider-thumb">
                    <div class="cs-thumb-in">
                        <div class="cs-hero-thumb-item">
                            <img src="/assets/img/hero-slider-thumb.jpg" alt="LogiHub" class="hero-thumb"
                                data-slide="0">
                        </div>
                        <div class="cs-hero-thumb-item">
                            <img src="/assets/img/hero-slider-thumb-1.jpg" alt="LogiHub" class="hero-thumb"
                                data-slide="1">
                        </div>
                        <div class="cs-hero-thumb-item">
                            <img src="/assets/img/hero-slider-thumb-2.jpg" alt="LogiHub" class="hero-thumb"
                                data-slide="2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs-hero-slider-content">
                <div class="swiper hero1-slider1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide cs_center">
                            <div class="cs-hero-slide-content">
                                <div class="cs-hero-title">
                                    <h1 class="logi-splite">Solar Energy
                                        Solutions</h1>
                                </div>
                                <div class="cs-hero-slider-btn">
                                    <a href="#" class="cs-primary-btn">
                                        <span>Read More</span>
                                    </a>
                                </div>
                            </div>
                            <div class="cs-hero-slider-img slider-image">
                                <img src="/assets/img/hero/home_1_hero_slider_1.jpg" alt="LogiHub">
                            </div>
                        </div>
                        <div class="swiper-slide cs_center">
                            <div class="cs-hero-slide-content">
                                <div class="cs-hero-title">
                                    <h1 class="logi-splite">Auto Spares</h1>
                                </div>
                                <div class="cs-hero-slider-btn">
                                    <a href="#" class="cs-primary-btn">
                                        <span>Read More</span>
                                    </a>
                                </div>
                            </div>
                            <div class="cs-hero-slider-img slider-image">
                                <img src="/assets/img/hero/home_1_hero_slider_2.jpg" alt="LogiHub">
                            </div>
                        </div>
                        <div class="swiper-slide cs_center">
                            <div class="cs-hero-slide-content">
                                <div class="cs-hero-title">
                                    <h1 class="logi-splite">Clean it
                                    </h1>
                                </div>
                                <div class="cs-hero-slider-btn">
                                    <a href="#" class="cs-primary-btn">
                                        <span>Read More</span>
                                    </a>
                                </div>
                            </div>
                            <div class="cs-hero-slider-img slider-image">
                                <img src="/assets/img/hero/home_1_hero_slider_3.jpg" alt="LogiHub">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>