<section>
    <div class="cs-testi-wrap">
      <div class="container">
        <div class="cs-testi-wrap-in">
          <div class="cs-testi-content">
            <div class="swiper home1-testi-slider1">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="cs-testi-slide-in">
                    <div class="cs-testi-quote">
                      <svg width="55" height="46" viewBox="0 0 55 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.1272 46L39.4171 0H54.1012V46H30.1272ZM0.15979 46L9.44969 0H24.1337V46H0.15979Z"
                          fill="#D40511" />
                      </svg>
                    </div>
                    <h4>As a small contractor,
                         I rely on Hardware Hyper for quality hardware supplies.
                         Their wide selection and competitive prices make them my go-to source.
                         Highly recommended!</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="cs-testi-slide-in">
                    <div class="cs-testi-quote">
                      <svg width="55" height="46" viewBox="0 0 55 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.1272 46L39.4171 0H54.1012V46H30.1272ZM0.15979 46L9.44969 0H24.1337V46H0.15979Z"
                          fill="#D40511" />
                      </svg>
                    </div>
                    <h4>Switching to solar energy with Hardware Hyper was one of the best decisions I've made. 
                        They provided a comprehensive solution, from system design to installation,
                         and their team was incredibly professional</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="cs-testi-slide-in">
                    <div class="cs-testi-quote">
                      <svg width="55" height="46" viewBox="0 0 55 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.1272 46L39.4171 0H54.1012V46H30.1272ZM0.15979 46L9.44969 0H24.1337V46H0.15979Z"
                          fill="#D40511" />
                      </svg>
                    </div>
                    <h4>We needed a reliable solar system for our farm's irrigation. 
                        Hardware Hyper provided an excellent system, and their after sales support has been incredible.</h4>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="cs-testi-slide-in">
                    <div class="cs-testi-quote">
                      <svg width="55" height="46" viewBox="0 0 55 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.1272 46L39.4171 0H54.1012V46H30.1272ZM0.15979 46L9.44969 0H24.1337V46H0.15979Z"
                          fill="#D40511" />
                      </svg>
                    </div>
                    <h4>Dealing with  Hardware Hyper has streamlined our farm operations.
                         Their agrochemicals are effective, and their delivery service is prompt and reliable.
                        They also offer excellent advice on pest control and soil health</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="cs-testi-user-container">
                <div class="cs-user-single home1-testi-sc" data-slide="0">
                  <div class="cs-user-img">
                    <img src="/assets/img/testi-user01.jpg" alt="LogiHub">
                  </div>
                  <div class="cs-user-info">
                    <h6><span>—</span>John M</h6>
                    <p>Local Builder</p>
                  </div>
                </div>
                <div class="cs-user-single home1-testi-sc" data-slide="1">
                  <div class="cs-user-img">
                    <img src="/assets/img/testi-user01.jpg" alt="LogiHub">
                  </div>
                  <div class="cs-user-info">
                    <h6><span>—</span>Tinashe T.K</h6>
                    <p>Accountant</p>
                  </div>
                </div>
                <div class="cs-user-single home1-testi-sc" data-slide="2">
                  <div class="cs-user-img">
                    <img src="/assets/img/testi-user01.jpg" alt="LogiHub">
                  </div>
                  <div class="cs-user-info">
                    <h6><span>—</span>Jonathan E</h6>
                    <p>Engineer</p>
                  </div>
                </div>
                <div class="cs-user-single home1-testi-sc" data-slide="3">
                  <div class="cs-user-img">
                    <img src="/assets/img/testi-user01.jpg" alt="LogiHub">
                  </div>
                  <div class="cs-user-info">
                    <h6><span>—</span>Rufaro S</h6>
                    <p>Farmer</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cs-testi-arrow">
        <div class="cs-testi-right home1-testi-swiper-button-next">
          <i class="flaticon-right-arrow"></i>
        </div>
        <div class="cs-testi-left home1-testi-swiper-button-prev">
          <i class="flaticon-right-arrow"></i>
        </div>
      </div>
    </div>
  </section>